openapi: 3.1.0
info:
  title: Facility Management System Platform API
  version: 1.0.0-phase1
  summary: 多領域設施與設備管理系統 — 第一階段後端契約
  description: |
    集團客戶共用的 FMS 後端 API。前端團隊（企業、影城、校園、廠務等各垂直領域）
    以此契約為唯一整合依據；領域專屬的聚合邏輯放在各自的 BFF，不進入本層。

    ## 一致性規範
    * **Context 標頭**：所有請求必須帶 `X-Tenant-ID`；操作特定場館時帶 `X-Facility-ID`。
      伺服端會以此設定資料庫 session 變數並套用 Row-Level Security。
    * **分頁**：cursor-based。回應 `page.next_cursor` 為 null 表示已到底。
    * **排序**：`sort=-created_at,name`（`-` 為降冪）。
    * **稀疏欄位**：`fields=id,name,status`。
    * **過濾**：`filter[status]=OPEN&filter[priority]=HIGH,URGENT`（逗號為 OR）。
    * **錯誤**：RFC 9457 Problem Details，並附 `code` 供前端做 i18n 對照。
    * **樂觀鎖**：具 `version` 的資源在寫入時必須帶 `If-Match: "<version>"`。
    * **冪等**：所有建立類 POST 支援 `Idempotency-Key`，24 小時內重放回傳原結果。
    * **時間**：一律 RFC 3339 with offset。伺服端不接受無時區的時間字串。
  contact:
    name: Bizlution Platform Team
    email: rainer@bizlution.com
  license:
    name: Proprietary

servers:
  - url: https://api.fms.bizlution.com/api/v1
    description: Production
  - url: https://api-staging.fms.bizlution.com/api/v1
    description: Staging
  - url: http://localhost:8000/api/v1
    description: Local

security:
  - bearerAuth: []

tags:
  - name: Auth & Identity
    description: 登入、SSO/AD 身分來源、SCIM 供裝
  - name: Tenancy
    description: 租戶、組織、設施
  - name: Spatial
    description: 空間節點與 BIM
  - name: Assets
    description: 設備資產、型錄、計量
  - name: Maintenance
    description: 保養範本與預防性維護計畫
  - name: Service Catalogue
    description: 軟性服務目錄（Soft FM）
  - name: Work Orders
    description: 統一工單（維修 + 服務請求）
  - name: Reservations
    description: 空間與設備預約
  - name: Calendar
    description: Microsoft 365／Google Workspace 日曆聯邦（ADR-14）
  - name: IoT
    description: 裝置、遙測、告警
  - name: Admin
    description: 角色、權限、稽核
  - name: Reporting
    description: 儀表板與報表

paths:
  # ---------------------------------------------------------------------------
  # Auth & Identity
  # ---------------------------------------------------------------------------
  /auth/token:
    post:
      tags: [Auth & Identity]
      operationId: issueToken
      summary: 取得存取權杖
      description: |
        支援三種 grant：
        * `password` — LOCAL 身分來源（外包技師、Kiosk）
        * `authorization_code` — OIDC/SAML 回跳後換發（Entra ID、地端 AD 經 ADFS）
        * `client_credentials` — 機器帳號（IoT 閘道、客戶 ERP）
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: 權杖發放成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /auth/token/refresh:
    post:
      tags: [Auth & Identity]
      operationId: refreshToken
      summary: 更新存取權杖
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/sso/{providerCode}/authorize:
    get:
      tags: [Auth & Identity]
      operationId: ssoAuthorize
      summary: 取得 OIDC 授權網址
      security: []
      description: |
        不需認證（使用者還沒登入）。

        ### `tenant_code` 是必填 —— 契約原本沒有這個參數

        002 的唯一鍵是 `(tenant_id, lower(code))`，**provider code 只在租戶內
        唯一**。沒有租戶判別就定位不到身分來源，而「猜第一個符合的」會讓 A 租戶
        的登入跳到 B 租戶的 IdP —— 使用者會把密碼輸入到別人的身分來源裡。

        走 migration 014 的 `resolve_tenant_by_code`，與 password grant 同一個機制。

        ### 回 200 + `authorize_url`，不回 302

        契約寫「回傳 302 或 authorize_url」。選 200：一個 302 在 `fetch()` 裡會被
        自動跟隨，於是瀏覽器對 IdP 發出 XHR 而不是導航，結果是 CORS 錯誤而不是
        登入畫面。前端拿到網址自己 `location.assign()`。

        ### `redirect_uri` 由部署設定組出，**不接受請求提供**

        接受呼叫端給的值就是一個開放轉址器：攻擊者把它指向自己的網站，IdP 就會
        把授權碼送到那裡。它由 `PUBLIC_BASE_URL` 組出來；未設定時回 501 並說明
        要設什麼（不猜 —— 猜出來的值 IdP 那邊沒有註冊）。

        ### 產生的伺服器端狀態

        每次呼叫在 `sso_auth_requests` 寫一列，帶 `state`（CSRF）、`nonce`
        （id_token 重放）、PKCE `code_verifier`（授權碼攔截），有效期 10 分鐘。
        三者都**不能**放在 cookie 或 URL 裡。

        授權端點取自 IdP 的 discovery 文件（不從 issuer 硬拼 —— OIDC 允許它在
        任何路徑上），而那次出站請求過 SSRF 閘門。
      parameters:
        - name: providerCode
          in: path
          required: true
          schema: { type: string }
        - name: tenant_code
          in: query
          required: true
          schema: { type: string }
          description: 必填，見上方說明。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [authorize_url, state, expires_at, redirect_uri]
                properties:
                  authorize_url: { type: string, format: uri }
                  state: { type: string }
                  expires_at: { type: string, format: date-time }
                  redirect_uri: { type: string, format: uri }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: 身分來源不是 ACTIVE，或取不到 discovery 文件。
          $ref: '#/components/responses/Conflict'
        '422': { $ref: '#/components/responses/ValidationError' }
        '501':
          description: |
            非 OIDC 的身分來源（SAML2 需要 metadata 解析與斷言簽章驗證，
            兩者都需要 Phase 1 沒有的密鑰解析器），或部署未設定 `PUBLIC_BASE_URL`。
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /auth/sso/{providerCode}/callback:
    get:
      tags: [Auth & Identity]
      operationId: ssoCallback
      summary: OIDC 回跳處理（**目前只完成 state 驗證**）
      security: []
      description: |
        不需認證。**這支端點目前完成前半，後半回 501。**

        ### 完成的部分：state 的驗證與一次性消耗

        那是這條流程的安全核心（CSRF 與重放防護）。`state` 一經使用即失效
        （條件式 `UPDATE ... WHERE consumed_at IS NULL`，原子），而四種結果**分開
        回報**：

        | 情況 | 回應 | 為什麼要分開 |
        |---|---|---|
        | 有效 | 走到下一步 | — |
        | 已使用 | 409 | **可能是重放** —— 值得調查 |
        | 已過期 | 409（不同訊息） | 使用者在 IdP 上待太久，正常情況 |
        | 不存在 | 401 | 通常是設定錯誤 |

        合併成一個「無效的 state」會讓可能的攻擊與正常的逾時在日誌裡長得一樣。

        IdP 回 `error=`（使用者按拒絕）時**state 仍然被消耗** —— 它已經曝光在
        瀏覽器的位址欄裡，不該還能再用一次。

        ### 未完成的部分：token 交換與 id_token 驗證 → **501**

        缺兩樣東西，而兩者都是結構性的，不是「還沒排到」：

        1. **client_secret** —— `identity_providers.client_secret_ref` 是密鑰管理
           服務的**參照**，而 Phase 1 沒有解析器。伺服器手上沒有能換 token 的密鑰。
        2. **可對接的 IdP** —— id_token 的簽章要用 JWKS 驗證，而沒有真實 IdP 可以
           產生一張真的 id_token 來驗證那段程式碼。

        兩者與 `POST /identity-providers/{id}/test-connection` 驗不到 LDAP bind
        是**同一個根本原因**。

        **回 501 而不是一個假的成功是刻意的**：一支核發身分卻沒有驗證 id_token 的
        callback 會是這個系統裡最危險的程式碼 —— 任何人拿到一個 state 就能變成
        任何人。回應裡沒有任何 token 欄位，而收到的授權碼不會被回顯（它是憑證）。
      parameters:
        - name: providerCode
          in: path
          required: true
          schema: { type: string }
        - name: code
          in: query
          schema: { type: string }
        - name: state
          in: query
          required: true
          schema: { type: string }
        - name: error
          in: query
          schema: { type: string }
          description: IdP 在使用者拒絕授權時回這個，而不是 code。
        - name: error_description
          in: query
          schema: { type: string }
      responses:
        '401':
          description: state 不存在，或 IdP 回報授權失敗。
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: state 已使用（可能是重放）或已過期 —— 兩者訊息不同。
          $ref: '#/components/responses/Conflict'
        '422': { $ref: '#/components/responses/ValidationError' }
        '501':
          description: |
            state 已驗證並消耗，但無法完成登入。`detail` 逐條列出缺什麼。
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  # ===========================================================================
  # SCIM 2.0 供裝端點
  # ===========================================================================
  # 這一組刻意不遵守本契約其他地方的慣例，每一項偏離都由 RFC 7643/7644 決定：
  #
  #   * 錯誤是 SCIM 的 Error 結構，**不是** RFC 7807 problem+json。
  #     Entra ID 解析的是前者 —— 回 problem+json 它只會顯示「未知錯誤」。
  #   * 回應沒有 `{data, meta}` 封裝：清單是 `ListResponse`，單筆是裸資源。
  #   * 欄位名是 camelCase（`userName`、`displayName`、`externalId`）。
  #   * 分頁是 `startIndex`（**1-based**）與 `count`，不是游標。
  #   * 認證是 `scimToken`，且**沒有** `X-Tenant-ID`（Entra 送不出來）——
  #     token 本身就是租戶與身分來源的判別依據。
  #
  # 路徑大小寫敏感：`Users`／`Groups` 的首字大寫是規範定義的。
  #
  # ## 讀寫範圍限定在發出請求的那個身分來源
  #
  # `GET /scim/v2/Users` 只回**有該 provider 的 user_identities 列**的使用者。
  # 回整個租戶的後果很具體：Entra 建立前會先用 `userName eq` 查一次，若我們把
  # 一個本地帳號回給它，它會認為那是自己管的，接著就能改該帳號的狀態 ——
  # 包含租戶管理員。**外部目錄不該能接管它沒有佈建的帳號。**
  #
  # ## 沒有實作的部分（不是遺漏，是刻意的範圍）
  #
  #   * `PUT`（整體替換）—— 契約只列 GET/POST/PATCH/DELETE；Entra 預設用 PATCH。
  #   * `/ServiceProviderConfig`、`/Schemas`、`/ResourceTypes` —— Entra 不讀。
  #   * 完整 filter 文法（`and`／`or`／`co`／`sw`／括號）—— 只支援
  #     `attr eq "value"` 與 `members[value eq "<uuid>"]`，也就是 Entra 實際會送
  #     的全部。其他形式回 400 `invalidFilter`，**不靜默忽略** ——
  #     忽略 filter 會讓「查一個人」變成「回傳全部人」。
  #   * `sortBy`／`sortOrder`、`Bulk`、ETag。
  #   * 巢狀成員（群組屬於群組）—— `user_directory_groups` 只接受使用者。
  /scim/v2/Users:
    get:
      tags: [Auth & Identity]
      operationId: scimListUsers
      summary: SCIM 使用者清單
      security: [{ scimToken: [] }]
      description: |
        只回此身分來源佈建的使用者，且排除 `DEPROVISIONED`
        （`DELETE` 之後的後續 GET 因此是 404，符合 RFC 7644 §3.6）。
      parameters:
        - name: filter
          in: query
          required: false
          schema: { type: string }
          description: |
            只支援 `userName eq "…"` 與 `externalId eq "…"`。
            其他文法或屬性回 400 `invalidFilter`。
        - name: startIndex
          in: query
          required: false
          schema: { type: integer, minimum: 1, default: 1 }
          description: '**1-based**（RFC 7644 §3.4.2.4）。小於 1 的值視為 1。'
        - name: count
          in: query
          required: false
          schema: { type: integer, minimum: 0, maximum: 200, default: 200 }
      responses:
        '200':
          description: OK
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimListResponse' }
        '400':
          description: filter 文法不支援。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '401':
          description: SCIM token 缺少、無效、已撤銷，或該來源未啟用供裝（四者不區分）。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
    post:
      tags: [Auth & Identity]
      operationId: scimCreateUser
      summary: SCIM 建立使用者
      security: [{ scimToken: [] }]
      description: |
        `userName` 必填。`displayName` 未提供時依序退化為
        「givenName familyName」→ `userName`（`users.display_name` 是 NOT NULL）。

        `active: false` 對應 `SUSPENDED`（可復原），不是 `DEPROVISIONED`。

        使用者名稱已被一個**不由此來源管理**的帳號佔用時回 409 `uniqueness`，
        且 detail 會說出那件事 —— 不會自動接管該帳號。
      requestBody:
        required: true
        content:
          application/scim+json:
            schema: { $ref: '#/components/schemas/ScimUser' }
      responses:
        '201':
          description: Created
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimUser' }
        '400':
          description: '`userName` 缺少或屬性值不合法。'
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '401':
          description: SCIM token 未通過認證。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '409':
          description: '`userName` 已存在（`scimType: uniqueness`）。'
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }

  /scim/v2/Users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: 本系統的 `users.id`（即 SCIM 資源的 `id`）。
    get:
      tags: [Auth & Identity]
      operationId: scimGetUser
      summary: SCIM 讀取單一使用者
      security: [{ scimToken: [] }]
      responses:
        '200':
          description: OK
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimUser' }
        '401':
          description: SCIM token 未通過認證。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '404':
          description: 不存在、不屬於此身分來源，或已被 SCIM 刪除。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
    patch:
      tags: [Auth & Identity]
      operationId: scimPatchUser
      summary: SCIM 修改使用者
      security: [{ scimToken: [] }]
      description: |
        可改的路徑：`active`、`displayName`、`name.givenName`、
        `name.familyName`、`name`（整個物件）、`title`。

        **不支援的路徑回 400 `invalidPath`，不靜默略過** ——
        略過會讓 Entra 的同步報告顯示成功，而那個屬性從未被寫入。

        兩種真實世界的形式都接受：
        `{"op":"replace","path":"active","value":false}` 以及
        `{"op":"replace","value":{"active":false}}`（沒有 path）。
        `active` 也接受字串 `"True"`／`"False"` —— 不合規範，但 Entra 會送。
      requestBody:
        required: true
        content:
          application/scim+json:
            schema: { $ref: '#/components/schemas/ScimPatchOp' }
      responses:
        '200':
          description: OK
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimUser' }
        '400':
          description: 'op／path 不支援，或值不合法（`invalidPath`／`invalidValue`／`invalidSyntax`）。'
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '401':
          description: SCIM token 未通過認證。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '404':
          description: 不存在或不屬於此身分來源。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
    delete:
      tags: [Auth & Identity]
      operationId: scimDeleteUser
      summary: SCIM 刪除使用者（狀態改為 DEPROVISIONED）
      security: [{ scimToken: [] }]
      description: |
        **不是實體刪除，也不設 `deleted_at`。** 狀態改成 `DEPROVISIONED`，
        與 `POST /users/{userId}:suspend` 對「離職」的既有詞彙一致。

        那一列留著是因為工單、勞務紀錄與稽核軌都引用它 —— 真的刪掉會讓
        「這張單是誰做的」變成 NULL。SCIM 那一側看到的仍然是刪除：
        後續的 GET 是 404（RFC 7644 §3.6）。
      responses:
        '204': { description: No Content }
        '401':
          description: SCIM token 未通過認證。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '404':
          description: 不存在或不屬於此身分來源。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }

  /scim/v2/Groups:
    get:
      tags: [Auth & Identity]
      operationId: scimListGroups
      summary: SCIM 群組清單
      security: [{ scimToken: [] }]
      description: 只回此身分來源的 `directory_groups`。
      parameters:
        - name: filter
          in: query
          required: false
          schema: { type: string }
          description: 只支援 `displayName eq "…"` 與 `externalId eq "…"`。
        - name: startIndex
          in: query
          required: false
          schema: { type: integer, minimum: 1, default: 1 }
        - name: count
          in: query
          required: false
          schema: { type: integer, minimum: 0, maximum: 200, default: 200 }
      responses:
        '200':
          description: OK
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimListResponse' }
        '400':
          description: filter 文法不支援。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '401':
          description: SCIM token 未通過認證。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
    post:
      tags: [Auth & Identity]
      operationId: scimCreateGroup
      summary: SCIM 建立群組
      security: [{ scimToken: [] }]
      description: |
        `displayName` 必填。`externalId` 未提供時產生一個 uuid 當
        `external_group_id`（002 的該欄位是 NOT NULL 且與 provider 組唯一鍵）。

        `members` 裡的每個 `value` 必須是**此身分來源佈建的**使用者 id。
        有任何一個不是就整批拒絕（400）—— 只加入一部分會讓 Entra 顯示成功，
        而漏掉的那個人永遠拿不到群組對應的角色（058）。
      requestBody:
        required: true
        content:
          application/scim+json:
            schema: { $ref: '#/components/schemas/ScimGroup' }
      responses:
        '201':
          description: Created
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimGroup' }
        '400':
          description: '`displayName` 缺少，或成員不屬於此身分來源。'
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '401':
          description: SCIM token 未通過認證。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '409':
          description: '`externalId` 已存在（`scimType: uniqueness`）。'
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }

  /scim/v2/Groups/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: 本系統的 `directory_groups.id`。
    get:
      tags: [Auth & Identity]
      operationId: scimGetGroup
      summary: SCIM 讀取單一群組
      security: [{ scimToken: [] }]
      responses:
        '200':
          description: OK
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimGroup' }
        '401':
          description: SCIM token 未通過認證。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '404':
          description: 不存在或不屬於此身分來源。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
    patch:
      tags: [Auth & Identity]
      operationId: scimPatchGroup
      summary: SCIM 修改群組（含成員增刪）
      security: [{ scimToken: [] }]
      description: |
        支援的操作：

          * `add` / `replace` `members` —— `replace` 的語意是「成員就是這一組」，
            因此會先清空。
          * `remove` `members` —— 兩種形式：`path: "members"` 加 value 清單，
            或 `path: "members[value eq \"<uuid>\"]"`（Entra 移除成員時用後者，
            不支援它等於「移除永遠不生效」）。`path: "members"` 且沒有 value
            時清空全部成員。
          * `replace` `displayName`。

        其他路徑回 400 `invalidPath`。成員必須屬於此身分來源，否則整批拒絕。
      requestBody:
        required: true
        content:
          application/scim+json:
            schema: { $ref: '#/components/schemas/ScimPatchOp' }
      responses:
        '200':
          description: OK
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimGroup' }
        '400':
          description: 'op／path 不支援，或成員不屬於此身分來源。'
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '401':
          description: SCIM token 未通過認證。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '404':
          description: 不存在或不屬於此身分來源。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
    delete:
      tags: [Auth & Identity]
      operationId: scimDeleteGroup
      summary: SCIM 刪除群組（實體刪除）
      security: [{ scimToken: [] }]
      description: |
        **這裡是真的刪除**，與使用者不同：`directory_groups` 沒有 `deleted_at`
        欄位，而群組本身不被工單或稽核軌引用。

        後果要說清楚：**由這個群組授予的角色會一併消失**
        （`directory_role_mappings` 是 ON DELETE CASCADE）。那是正確的行為 ——
        群組被移出供裝範圍就代表它不再授權任何人。
      responses:
        '204': { description: No Content }
        '401':
          description: SCIM token 未通過認證。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
        '404':
          description: 不存在或不屬於此身分來源。
          content:
            application/scim+json:
              schema: { $ref: '#/components/schemas/ScimError' }
  /auth/logout:
    post:
      tags: [Auth & Identity]
      operationId: logout
      summary: 撤銷一個 refresh token
      description: |
        撤銷 body 裡那**一個** refresh token（migration 070 的黑名單）。

        兩件事客戶端必須知道：

        * **access token 不受影響。** 它沒有做成可撤銷的（撤銷它就要在每一個
          請求上加一次資料庫查詢），因此登出後仍有效至過期 ——
          回應的 `access_token_remains_valid_for_seconds` 是那個上界。
          客戶端必須自己清掉本機那一份。
        * **只撤銷這一個。** 同一個帳號在其他裝置上的 refresh token 不受影響。

        重複呼叫是幂等的：回 200 且 `already_revoked: true`。

        refresh token 無法驗證（簽章錯或已過期）時回 401 —— 此時沒有可撤銷的
        對象。已過期的 token 本來就不能再換發，客戶端直接丟掉即可。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              additionalProperties: false
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: 已撤銷
          content:
            application/json:
              schema:
                type: object
                required:
                  - revoked
                  - already_revoked
                  - access_token_remains_valid_for_seconds
                properties:
                  revoked:
                    type: boolean
                    description: 這個 token 現在處於撤銷狀態。幂等，因此永遠是 true。
                  already_revoked:
                    type: boolean
                    description: 這次呼叫之前就已經被撤銷過（重複登出／客戶端重試）。
                  access_token_remains_valid_for_seconds:
                    type: integer
                    format: int64
                    description: |
                      access token 的 TTL，是**上界**而不是剩餘秒數 ——
                      這支端點看不到客戶端手上那張 access token 的簽發時間。
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          $ref: '#/components/responses/Forbidden'
        '422': { $ref: '#/components/responses/ValidationError' }

  /auth/password/change:
    post:
      tags: [Auth & Identity]
      operationId: changePassword
      summary: 變更自己的本地帳號密碼
      description: |
        需要 `current_password`：access token 可能是從一台沒鎖的機器上取得的，
        而改密碼會把帳號的控制權交出去。

        **不會登出其他裝置。** 撤銷的粒度是單一 refresh token，而這個請求手上
        沒有其他裝置的 token —— 回應的 `other_sessions_remain_valid` 永遠是
        true，刻意做成欄位而不是文件裡的一句話。

        最短長度來自 `tenants.settings.password_min_length`（管理者可設，
        範圍 8–128，未設定時 12），回應的 `min_length_applied` 是這次套用的值。

        只能改**本地**密碼。帳號的 `password_hash` 為 NULL（只能經目錄來源
        登入）時回 409 —— 在那裡建一組本地密碼會憑空造出一條繞過管理者所選
        身分來源的登入途徑。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              additionalProperties: false
              properties:
                current_password: { type: string }
                new_password: { type: string }
      responses:
        '200':
          description: 已變更
          content:
            application/json:
              schema:
                type: object
                required: [changed, other_sessions_remain_valid, min_length_applied]
                properties:
                  changed: { type: boolean }
                  other_sessions_remain_valid:
                    type: boolean
                    description: 永遠 true。見上方說明 —— 這是機制的邊界，不是狀態。
                  min_length_applied:
                    type: integer
                    description: 這次套用的最短長度政策。
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422': { $ref: '#/components/responses/ValidationError' }

  /auth/me:
    get:
      tags: [Auth & Identity]
      operationId: getCurrentUser
      summary: 取得目前使用者、可用場館與有效權限
      description: 前端啟動時呼叫一次，用以建構選單與權限守衛。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CurrentUser' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /identity-providers:
    get:
      tags: [Auth & Identity]
      operationId: listIdentityProviders
      summary: 列出租戶的身分來源（Entra ID / 地端 AD / 本地）
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/IdentityProvider' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Auth & Identity]
      operationId: createIdentityProvider
      summary: 新增身分來源
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IdentityProviderCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IdentityProvider' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /identity-providers/{providerId}:
    patch:
      tags: [Auth & Identity]
      operationId: updateIdentityProvider
      summary: 修改身分來源
      description: |
        需要 `identity_provider:write`（TENANT 範圍）。

        **`code` 與 `provider_type` 不可變更。** 前者是
        `/auth/sso/{providerCode}` 的路徑鍵，後者決定必填欄位的組合
        （`ck_idp_oidc_fields` / `ck_idp_ldap_fields`）—— 換型別實際上是換一個
        來源。連同其他不可變更的欄位一起列在回應的 `meta.not_patchable_fields`。

        請求裡出現任何不可變更的欄位時，**整個請求被拒**（422），不會只忽略
        那幾個。回 200 而其中一半沒生效，管理者會以為都寫進去了。

        必填欄位的檢查對**合併後**的值進行：`{"issuer": null}` 送給一個 OIDC
        來源會被擋，錯誤訊息會說「這次修改會把其中一個清空」。

        可為 null 的欄位用 JSON `null` 表示**清空**，不提供該欄位表示不動。

        ### 回應會列出「填了但目前沒有人讀」的欄位

        `identity_providers` 在 Phase 1 幾乎整張表都還沒有消費者：抓外部目錄
        成員關係那一半不存在（沒有 LDAP／Graph 客戶端），`/auth/sso/*` 也尚未
        實作。因此填完 `issuer` 與 `client_id` 之後 SSO 仍然是 404。

        `meta.fields_with_no_consumer_yet` 列出**這次請求真的改到**的那些欄位。
        它不是免責聲明 —— 它是「你剛剛設的這幾個還不會生效」的清單。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: providerId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 1
              properties:
                name: { type: string }
                status: { type: string, enum: [ACTIVE, DISABLED, TESTING] }
                is_default:
                  type: boolean
                  description: |
                    一個租戶只能有一個預設來源（部分唯一索引
                    `uq_identity_providers_default`）。設第二個會回 409。
                jit_provisioning: { type: boolean }
                sync_enabled: { type: boolean }
                issuer: { type: [string, 'null'] }
                discovery_url: { type: [string, 'null'] }
                client_id: { type: [string, 'null'] }
                client_secret_ref:
                  type: [string, 'null']
                  description: |
                    密鑰管理服務裡的**參照名稱**，不是密鑰本身。看起來像明文
                    密鑰的值會被擋掉（它會進資料庫、備份與稽核紀錄）。
                ldap_host: { type: [string, 'null'] }
                ldap_base_dn: { type: [string, 'null'] }
      responses:
        '200':
          description: 已更新
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: '#/components/schemas/IdentityProvider' }
                  meta:
                    type: object
                    required: [fields_with_no_consumer_yet, not_patchable_fields]
                    properties:
                      fields_with_no_consumer_yet:
                        type: array
                        description: 這次請求改到、但目前沒有任何程式碼讀取的欄位。
                        items:
                          type: object
                          properties:
                            field: { type: string }
                            reason: { type: string }
                      not_patchable_fields:
                        type: array
                        items:
                          type: object
                          properties:
                            field: { type: string }
                            reason: { type: string }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /identity-providers/{providerId}/test-connection:
    post:
      tags: [Auth & Identity]
      operationId: testIdentityProviderConnection
      summary: 測試身分來源的連線
      description: |
        需要 `identity_provider:write`（TENANT 範圍）—— **讀權限不夠**：
        這支端點會讓伺服器對外發出網路請求，那是一個副作用。

        目標取自**儲存的設定**，不是 request body。那本身是一層限制：要換目標
        得先 `PATCH`，而那需要 `identity_provider:write` 並留下稽核軌。

        這支端點是整個系統第一段真的去跟設定好的 IdP 說話的程式碼 ——
        在它之前，`identity_providers` 的每一個連線欄位都沒有讀者。
        它**不寫任何東西**（`meta.read_only: true`）。

        ### 出站請求的閘門

        `discovery_url` 與 `ldap_host` 都是呼叫端填的字串，因此兩條路徑都會過
        同一道閘門：強制 https（LDAP 是 host:port 檢查）、自己解析 DNS 並
        **逐一檢查每一個位址**、連線時 pin 住已檢查的那個 IP（防 DNS
        rebinding）、不跟隨轉址。任何一項不通就回一格
        `target_is_permitted: FAILED`，並在 `detail` 說出是哪一類問題。

        ### 每一種型別驗得到什麼

        | provider_type | 檢查 | 驗不到 |
        |---|---|---|
        | OIDC | discovery 文件可取得、必要端點齊全、**文件的 issuer 與設定相符**（OIDC Discovery §4.3） | — |
        | LDAP | TCP 可達、bind 憑證設定是否完整 | `ldap_bind`、`tls_handshake` |
        | SAML2 | — | `saml_metadata_fetch` |
        | LOCAL | — | `external_connection` |

        **驗不到的項目一律列在 `checks_not_performed` 並附理由**，不會偽裝成
        通過。LDAP bind 之所以驗不到有兩個獨立原因：Phase 1 沒有 LDAP 客戶端，
        而 `ldap_bind_secret_ref` 是密鑰管理服務的參照、尚無解析器 ——
        也就是說伺服器手上沒有可以 bind 的密碼。

        `result` 是 `PASSED` / `FAILED` / `NOT_TESTABLE`。
        **沒有任何檢查可做時是 `NOT_TESTABLE`，不是 `PASSED`** ——
        後者會讓「測試通過」這句話失去意義。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: providerId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: |
            測試已執行。**`200` 不代表通過** —— 結果看 `result`。
            連線失敗、位址被閘門擋下、issuer 不符都是 `200` + `FAILED`：
            那些是被測目標的狀態，不是這個請求本身的錯誤。
          content:
            application/json:
              schema:
                type: object
                required: [provider_type, result, checks, checks_not_performed, target, meta]
                properties:
                  provider_type: { type: string, enum: [OIDC, SAML2, LDAP, LOCAL] }
                  result: { type: string, enum: [PASSED, FAILED, NOT_TESTABLE] }
                  checks:
                    type: array
                    items:
                      type: object
                      required: [name, status, detail]
                      properties:
                        name: { type: string }
                        status: { type: string, enum: [PASSED, FAILED] }
                        detail: { type: string }
                  checks_not_performed:
                    type: array
                    description: |
                      **沒有做**的檢查，附理由。空陣列也照樣回 ——
                      少了這個欄位，客戶端會以為 `checks` 就是全部，
                      而對 LDAP 來說最重要的資訊正是「bind 沒有被驗證」。
                    items:
                      type: object
                      required: [name, reason]
                      properties:
                        name: { type: string }
                        reason: { type: string }
                  target:
                    description: |
                      實際要連的目標，含解析後的位址。
                      `allowed_by_private_target_allowlist` 為 true 表示這個
                      目標是私有位址、因為在部署白名單裡才通過 ——
                      那與一般的成功不同。
                    oneOf:
                      - type: 'null'
                      - type: object
                  meta:
                    type: object
                    properties:
                      read_only: { type: boolean }
                      outbound_guard: { type: string }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /identity-providers/{providerId}/sync:
    post:
      tags: [Auth & Identity]
      operationId: triggerDirectorySync
      summary: 觸發目錄同步（AD 群組 → FMS 角色）
      description: |
        回傳 `202` 與 `sync_run_id`；歷程與統計用
        `GET /identity-providers/{providerId}/sync-runs` 查（原本這裡指向一支
        契約裡不存在的 path，已補上）。

        **實作上是同步完成的，仍然回 202。** 原本的描述寫「非同步作業」，
        而非同步的理由是「要連外部目錄，那很慢」—— 但 Phase 1 的對帳
        **不連 AD／Entra**：它從 `user_directory_groups`（成員關係，由 SCIM
        或未來的 connector 放進來）與 `directory_role_mappings`（規則）
        算出 `user_role_assignments`，是純集合運算、毫秒級完成。

        為一個瞬間完成的操作套一層 outbox 與 worker，只會讓「好了沒」
        多一次往返。等 LDAP／Graph connector 進來時，**抓成員關係那一半**
        才需要非同步。

        回應的 `status` 因此通常已經是 `SUCCEEDED` 或 `PARTIAL`
        —— `PARTIAL` 代表有對應被提權防護擋下（見 `DirectorySyncRun.error_summary`）。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: providerId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                run_type:
                  type: string
                  enum: [FULL, DELTA]
                  default: DELTA
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  sync_run_id: { type: string, format: uuid }
                  status: { type: string, example: RUNNING }
        '404': { $ref: '#/components/responses/NotFound' }

  /identity-providers/{providerId}/sync-runs:
    get:
      tags: [Auth & Identity]
      operationId: listDirectorySyncRuns
      summary: 同步歷程與統計
      description: |
        需要 `identity_provider:read`。

        **契約原本沒有這一支。** `POST /{id}/sync` 的說明寫著「可用
        `GET /identity-providers/{providerId}/sync-runs/{syncRunId}` 追蹤結果」
        —— 而那個 path **不存在於契約裡**。202 之後沒有下文，
        與 role-assignments、audit-export 那兩次是同一類不一致。

        回傳清單而不是單筆：值班的人要問的是「上一次同步做了什麼」，
        而他手上通常沒有 `syncRunId`。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: providerId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/DirectorySyncRun' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---------------------------------------------------------------------------
  # Tenancy
  # ---------------------------------------------------------------------------
  /tenant:
    get:
      tags: [Tenancy]
      operationId: getTenant
      summary: 目前租戶設定與功能開關
      description: |
        需要 `tenant:read`（TENANT 範圍 —— 這不是場域層級的資料）。

        回傳**全部**欄位，包含合約那組（方案、配額、合約期間）。讀得到自己買了
        什麼是合理的；只是改不了。`meta.read_only_fields` 逐一列出改不了的欄位
        與理由，讓前端不必自己維護一份唯讀清單 —— 那份清單會與後端分歧，
        而症狀是一個永遠回 422 的表單。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: 租戶設定
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Tenant' }
                  meta:
                    type: object
                    properties:
                      read_only_fields:
                        type: array
                        items:
                          type: object
                          properties:
                            field: { type: string }
                            reason: { type: string }
    patch:
      tags: [Tenancy]
      operationId: updateTenant
      summary: 更新租戶設定
      description: |
        需要 `tenant:update`。

        **只有租戶自己擁有的欄位可以改**：`name`、`legal_name`、
        `default_timezone`、`default_locale`、`default_currency`、`settings`。

        合約與授權那組一律拒絕，整個請求回 `422`：

        | 欄位 | 理由 |
        |---|---|
        | `plan_tier`、`isolation_mode`、`status` | 由合約決定 |
        | `quota_api_rps`、`quota_assets`、`quota_users` | 配額由合約決定 |
        | `contract_start_date`、`contract_end_date` | 合約期間由平台方管理 |
        | `feature_flags` | 功能開關由合約決定 |
        | `id`、`code`、`industry` | 識別與開通時的設定，不可變更 |

        **`quota_assets` 可寫等於讓客戶自己解除配額上限，`plan_tier` 可寫等於
        自己升級方案。** 那些欄位的名字看起來就是「設定」，所以這條界線是刻意
        寫下來並被測試釘住的。

        **拒絕會出聲，不會靜默忽略。** 回 200 而什麼也沒改，客戶會以為設定生效
        了，然後在配額擋住他的時候回來問為什麼。錯誤指名是哪個欄位、以及為什麼
        —— 這與「不認識的欄位」（打錯字）是不同的訊息。

        `legal_name` 送 `null` 是**清空**，不送則是不動。其餘欄位不送即不動。

        `settings` 的形狀由資料庫的 `ck_tenants_settings` 驗（migration 067）：
        只認已知的鍵與型別，未知的鍵放行 —— 這個欄位會長大，每加一個鍵改一次
        migration 沒有意義。違反時回 422 並說出哪個鍵要什麼型別。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 200 }
                legal_name:
                  type: [string, 'null']
                  description: null = 清空；不送 = 不動
                default_timezone: { type: string, maxLength: 64 }
                default_locale: { type: string, maxLength: 16 }
                default_currency:
                  type: string
                  minLength: 3
                  maxLength: 3
                  description: ISO 4217，三個大寫字母
                settings:
                  type: object
                  description: 已知的鍵見 migration 067；未知的鍵放行
      responses:
        '200':
          description: 更新後的租戶設定
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Tenant' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /organizations:
    get:
      tags: [Tenancy]
      operationId: listOrganizations
      summary: 列出組織（支援子樹查詢）
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: parent_id
          in: query
          schema: { type: string, format: uuid }
        - name: subtree_of
          in: query
          description: 回傳該組織及其所有下層（利用 ltree 子樹查詢）
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Organization' }
    post:
      tags: [Tenancy]
      operationId: createOrganization
      summary: 建立組織
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrganizationCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Organization' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /organizations/{organizationId}:
    get:
      tags: [Tenancy]
      operationId: getOrganization
      summary: 讀取單一組織
      description: 需要 `organization:read`。軟刪除的組織回 `404`。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: organizationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 組織
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Organization' }
        '404': { description: 找不到這個組織 }
    patch:
      tags: [Tenancy]
      operationId: updateOrganization
      summary: 更新組織
      description: |
        需要 `organization:write`。

        **`code` 與 `parent_id` 都可以改** —— migration 001 的觸發器會在那兩者
        變動時用一個 UPDATE 把整棵子樹的 `org_path` 重編。

        **但搬到自己的後代底下會回 `422`（`code: TREE_CYCLE`）。**
        那個守衛是 migration 069 補的：在它之前這種搬移不會報錯，只會讓兩者
        互為祖先 —— 量出來的結果是

        ```
        CYC_A | CYC_A.CYC_B.CYC_A       | parent = CYC_B
        CYC_B | CYC_A.CYC_B.CYC_A.CYC_B | parent = CYC_A
        ```

        而 `<@` 從此回錯的答案（`GET /reports/group-rollup` 就是用它算集團彙總的）。
        守衛放在觸發器裡而不是這一層，因為 re-path 本身就是觸發器做的 ——
        任何寫入者都會經過它。

        `org_path` 與 `depth` 不可指定（`422`，`code: DERIVED`）：那兩個是觸發器
        從 `parent_id` 與 `code` 算出來的，手動指定會讓它們與樹的實際結構不一致。

        `parent_id`、`cost_center`、`manager_user_id` 送 `null` 是清空
        （`parent_id: null` = 升為根節點），不送是不動。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: organizationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code: { type: string, maxLength: 50 }
                name: { type: string, maxLength: 200 }
                org_type:
                  type: string
                  enum: [GROUP, COMPANY, DIVISION, DEPARTMENT, TEAM, COST_CENTER]
                status: { type: string, enum: [ACTIVE, INACTIVE] }
                parent_id:
                  type: [string, 'null']
                  format: uuid
                  description: null = 升為根節點
                cost_center: { type: [string, 'null'] }
                manager_user_id: { type: [string, 'null'], format: uuid }
      responses:
        '200':
          description: 更新後的組織
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Organization' }
        '404': { description: 找不到這個組織 }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Tenancy]
      operationId: deleteOrganization
      summary: 刪除組織（軟刪除）
      description: |
        需要 `organization:write`。**軟刪除**（設 `deleted_at`）。

        不硬刪的理由是量出來的：`desk_assignments.org_id` 的外鍵是 `CASCADE`、
        `users.primary_org_id` 是 `SET NULL` —— 硬刪會靜默地改動別的資料，
        而回應只會是一個 204。

        **有子組織或設施時回 `409`，並把兩個數字都說出來**：子組織要先搬走
        （樹中間少一層會讓子樹查詢看到斷開的兩段），設施要先移到別的組織。
        兩者要做的處理完全不同，所以只回一個沒有內容的 409 會讓呼叫者一個一個猜。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: organizationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 已刪除
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: { type: string, format: uuid }
                      deleted: { type: boolean }
                  meta:
                    type: object
                    properties:
                      soft_delete: { type: boolean }
                      users_still_referencing: { type: integer }
                      why_soft: { type: string }
        '404': { description: 找不到這個組織 }
        '409': { description: 還有子組織或設施掛在上面 }

  /spatial-nodes/{nodeId}:
    get:
      tags: [Spatial & BIM]
      operationId: getSpatialNode
      summary: 讀取單一空間節點
      description: 需要該節點所在場域的 `spatial_node:read`。軟刪除的節點回 `404`。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: nodeId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 空間節點
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpatialNode' }
        '404': { description: 找不到這個空間節點 }
    patch:
      tags: [Spatial & BIM]
      operationId: updateSpatialNode
      summary: 更新空間節點
      description: |
        需要該節點所在場域的 `spatial_node:write`。

        與 `PATCH /organizations/{id}` 同一套規則：`code` 與 `parent_id` 可改
        （003 的觸發器重編整棵子樹），搬到自己的後代底下回 `422`
        （`TREE_CYCLE`，migration 069 的守衛）。

        **`facility_id` 不可變更**（`422`，`code: DERIVED`）：節點的路徑是相對於
        場域根節點的，而 re-path 觸發器用 `WHERE facility_id = NEW.facility_id`
        找子樹 —— 換場域會讓子節點留在舊場域而父節點跑到新場域，兩邊的路徑都不
        再一致。`node_path`／`depth` 同樣不可指定。

        `node_type_code` 會對 `spatial_node_types` 驗一次（那一欄沒有外鍵，
        所以打錯字不會被資料庫擋）。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: nodeId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code: { type: string, maxLength: 60 }
                name: { type: string, maxLength: 200 }
                node_type_code: { type: string }
                capacity: { type: integer, minimum: 0 }
                is_bookable: { type: boolean }
                is_active: { type: boolean }
                parent_id: { type: [string, 'null'], format: uuid }
                floor_level: { type: [integer, 'null'] }
                floor_label: { type: [string, 'null'] }
                area_sqm: { type: [number, 'null'] }
                bim_element_id: { type: [string, 'null'] }
      responses:
        '200':
          description: 更新後的節點
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpatialNode' }
        '404': { description: 找不到這個空間節點 }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Spatial & BIM]
      operationId: deleteSpatialNode
      summary: 刪除空間節點（軟刪除）
      description: |
        需要該節點所在場域的 `spatial_node:write`。**軟刪除**。

        不硬刪的理由是量出來的：`spatial_nodes` 被 12 個地方參照，其中**四個是
        `CASCADE`** —— `bookable_resources`、`desk_assignments`、
        `maintenance_plans`、`visitor_access_grants`。硬刪一個房間會連帶刪掉它的
        可預約資源與保養計畫（含排程），而回應只會是一個 204。

        **三種阻擋物各自回報數字**（`409`）：子節點、未結工單、啟用中的可預約
        資源。三者要做的處理完全不同（搬走／結案／停用），所以只回一個沒有內容
        的 409 會讓呼叫者一個一個猜。

        成功時 `meta` 回報**還有什麼指著它** —— 那正是軟刪除的重點：那些東西
        沒有被連帶毀掉。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: nodeId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 已刪除
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: { type: string, format: uuid }
                      deleted: { type: boolean }
                  meta:
                    type: object
                    properties:
                      soft_delete: { type: boolean }
                      assets_still_referencing: { type: integer }
                      maintenance_plans_still_referencing: { type: integer }
                      why_soft: { type: string }
        '404': { description: 找不到這個空間節點 }
        '409': { description: 還有子節點、未結工單或啟用中的可預約資源 }

  /facilities:
    get:
      tags: [Tenancy]
      operationId: listFacilities
      summary: 列出目前使用者可存取的設施
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: org_id
          in: query
          schema: { type: string, format: uuid }
        - name: facility_type
          in: query
          schema: { type: string }
        - name: q
          in: query
          description: 模糊搜尋名稱或代碼
          schema: { type: string }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Facility' }
    post:
      tags: [Tenancy]
      operationId: createFacility
      summary: 建立設施
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FacilityCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Facility' }

  /facilities/{facilityId}:
    parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/FacilityIdPath'
    get:
      tags: [Tenancy]
      operationId: getFacility
      summary: 取得單一設施
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Facility' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Tenancy]
      operationId: updateFacility
      summary: 更新設施
      parameters:
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FacilityCreate' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Facility' }
        '412': { $ref: '#/components/responses/PreconditionFailed' }

  # ---------------------------------------------------------------------------
  # Spatial
  # ---------------------------------------------------------------------------
  /facilities/{facilityId}/spatial-nodes:
    parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/FacilityIdPath'
    get:
      tags: [Spatial]
      operationId: listSpatialNodes
      summary: 列出空間節點
      description: |
        `view=tree` 回傳巢狀結構（適合側欄與 BIM 逐層檢視）；
        `view=flat`（預設）回傳扁平清單並附 `node_path`，由前端自行組樹。
      parameters:
        - name: view
          in: query
          schema: { type: string, enum: [flat, tree], default: flat }
        - name: parent_id
          in: query
          schema: { type: string, format: uuid }
        - name: subtree_of
          in: query
          schema: { type: string, format: uuid }
        - name: node_type_code
          in: query
          schema: { type: string, example: MEETING_ROOM }
        - name: floor_level
          in: query
          schema: { type: integer, example: 4 }
        - name: bookable_only
          in: query
          schema: { type: boolean, default: false }
        - name: include_asset_counts
          in: query
          description: 附帶各節點的設備數與健康度摘要
          schema: { type: boolean, default: false }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/SpatialNode' }
    post:
      tags: [Spatial]
      operationId: createSpatialNode
      summary: 建立空間節點
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SpatialNodeCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpatialNode' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /uploads/presign:
    post:
      tags: [Spatial]
      operationId: presignUpload
      summary: 取得檔案直傳預簽網址
      description: |
        已登入即可。回傳一個短期有效的 `PUT` 網址與 `storage_key`，
        客戶端把檔案**直傳儲存體**，再用 `storage_key` 呼叫註冊端點
        （目前唯一的消費者是 `POST /facilities/{facilityId}/bim-models`）。

        **契約原本沒有這一支**（只在 `api/ENDPOINTS.md` 列著），
        而 BIM 註冊端點的說明指向它 —— 又一個「指向不存在的地方」。

        ## 為什麼 BIM 用直傳，而附件不用

        `POST /attachments` 是把 bytes 收進 API 再寫儲存體。對照片與 PDF
        （幾 MB）那樣做沒問題。**但一個 IFC 動輒數百 MB** ——
        塞過 API 伺服器會佔住連線好幾分鐘、吃記憶體，而逾時的失敗模式
        對客戶端只是「連線中斷」。

        ## `content_type` 是簽章的一部分

        預簽時指定的 `Content-Type` 會被簽進去，客戶端**必須**送出相同的值。
        少了它，一個把 IFC 標成 `text/html` 的上傳會被瀏覽器當網頁開啟 ——
        而那個物件是預簽可讀的。

        ## `content_length` 用來擋明顯選錯的檔案

        客戶端回報的檔案大小，超過上限（1 GiB）直接在這一步拒絕，不必等
        直傳完成、註冊失敗才知道選錯檔案。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [file_name, content_type, content_length]
              properties:
                file_name: { type: string }
                content_type: { type: string, example: application/octet-stream }
                content_length:
                  type: integer
                  format: int64
                  description: 檔案位元組數，上限 1 GiB（1073741824）
                purpose:
                  type: string
                  enum: [BIM_MODEL]
                  default: BIM_MODEL
                  description: 決定物件鍵的前綴；目前只有 BIM 模型走直傳
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  upload_url:
                    type: string
                    description: 短期有效的 PUT 網址
                  storage_key:
                    type: string
                    description: 上傳完成後拿它去呼叫註冊端點
                  content_type:
                    type: string
                    description: 上傳時**必須**送出這個值，否則儲存體會拒絕
                  expires_in_seconds: { type: integer }
        '422': { $ref: '#/components/responses/ValidationError' }

  /spatial-node-types:
    get:
      tags: [Spatial & BIM]
      operationId: listSpatialNodeTypes
      summary: 節點型別（平台 + 租戶自訂）
      description: |
        需要 `spatial_node:read`（不指定場域 —— 型別目錄是租戶層級的）。

        `spatial_nodes.node_type_code` **沒有外鍵**，所以這支端點是客戶端唯一能
        知道「哪些值是合法的」的地方 —— 少了它，前端只能硬編一份會過期的清單。

        **`allowed_child_codes` 目前沒有任何執行者。** 後端不會擋「把 ROOM 掛在
        DESK 底下」，`POST /facilities/{id}/spatial-nodes` 也不檢查它。原樣回傳讓
        前端可以自己擋，但那不是後端的保證 ——
        `meta.allowed_child_codes_is_advisory_only` 把這件事說出來。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: 型別清單
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        code: { type: string }
                        name: { type: string }
                        level_hint:
                          type: integer
                          description: 建議深度（SITE=0、BUILDING=1、…）
                        is_bookable: { type: boolean }
                        is_leaf_default: { type: boolean }
                        allowed_child_codes:
                          type: array
                          items: { type: string }
                          description: 僅供參考 —— 後端不強制
                        icon: { type: [string, 'null'] }
                        is_platform:
                          type: boolean
                          description: true = 平台預設（不可改）
                  meta:
                    type: object
                    properties:
                      count: { type: integer }
                      tenant_defined: { type: integer }
                      no_foreign_key_on_node_type_code: { type: boolean }
                      allowed_child_codes_is_advisory_only: { type: boolean }

  /facilities/{facilityId}/spatial-nodes:bulk-import:
    post:
      tags: [Spatial & BIM]
      operationId: bulkImportSpatialNodes
      summary: 批次匯入樓層/房間
      description: |
        需要該場域的 `spatial_node:write`。

        ## 父節點用 `parent_code` 而不是 uuid，而順序不重要

        匯入檔通常是從別的系統匯出的，裡面不會有我們的 uuid，順序也不由呼叫者
        決定。一份檔案可以這樣寫：

        ```json
        {"rows": [
          {"code": "FL03", "parent_code": "BLDG_A", "node_type_code": "FLOOR", "name": "3F"},
          {"code": "BLDG_A", "node_type_code": "BUILDING", "name": "A 棟"}
        ]}
        ```

        `FL03` 引用了還沒出現的 `BLDG_A` —— 要求呼叫者自己做拓撲排序是把問題丟
        回去。所以這裡**多趟解析**：每一趟建立所有父節點已知的列，直到沒有進展。
        剩下的回 `UNRESOLVED_PARENT` 並說明是「父節點不存在」還是「這幾列互相
        引用成環」。

        `parent_code` 也可以指向**這個場域裡既有的節點**，所以匯入檔可以掛在既有
        的樹上。

        ## `dry_run` 預設是 `true`

        與 `POST /assets:bulk-import` 同一個判斷：匯入是破壞性的，預設不寫入讓
        呼叫者先看結果。要真的寫入必須明確送 `false`。

        **dry-run 仍然跑完全部的 INSERT 再整批回捲**，所以路徑、唯一性、型別與
        循環守衛（migration 069）全都真的驗過了 —— 一份 dry-run 通過的檔案不會
        在真跑時才炸。

        ## 四個計數分開回

        `created`／`failed`／`unresolved_parent` 加上 `requested`。只回「成功 N
        筆」會讓「父節點解不開」與「撞唯一索引」混成同一件事，而那兩者要做的處理
        完全不同。

        檔案內部的 `code` 重複直接回 `422`（`DUPLICATE_IN_FILE`）——
        那與「資料庫裡已經有這個 code」是不同的錯誤。一次最多 1000 列。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: facilityId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rows]
              properties:
                dry_run: { type: boolean, default: true }
                rows:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  items:
                    type: object
                    required: [code, name, node_type_code]
                    properties:
                      code: { type: string, maxLength: 60 }
                      name: { type: string, maxLength: 200 }
                      node_type_code: { type: string }
                      parent_code:
                        type: [string, 'null']
                        description: 父節點的 code；null = 場域根節點
                      floor_level: { type: [integer, 'null'] }
                      floor_label: { type: [string, 'null'] }
                      area_sqm: { type: [number, 'null'] }
                      capacity: { type: [integer, 'null'] }
                      is_bookable: { type: [boolean, 'null'] }
      responses:
        '200':
          description: 逐列結果
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code: { type: string }
                        status:
                          type: string
                          enum: [CREATED, WOULD_CREATE, FAILED, UNRESOLVED_PARENT]
                        id: { type: string, format: uuid }
                        node_path: { type: string }
                        error: { type: string }
                        error_code:
                          type: string
                          enum: [DUPLICATE_CODE, TREE_CYCLE, DB_ERROR, UNRESOLVED_PARENT]
                  meta:
                    type: object
                    properties:
                      dry_run: { type: boolean }
                      requested: { type: integer }
                      created: { type: integer }
                      failed: { type: integer }
                      unresolved_parent: { type: integer }
                      parents_may_appear_after_children: { type: boolean }
                      dry_run_validates_everything: { type: string }
        '422': { $ref: '#/components/responses/ValidationError' }

  /facilities/{facilityId}/floor-view:
    get:
      tags: [Spatial & BIM]
      operationId: getFloorView
      summary: 逐層檢視資料（節點 + 設備 + 告警 + 幾何 + 即時佔用 + 設備連線）
      description: |
        需要該場域的 `spatial_node:read`。給樓層圖儀表板用的單一端點 ——
        每個節點已經帶好幾何、告警、即時佔用、設備連線，不需要額外拼接
        `GET /occupancy` 或 `GET /devices` 的結果。

        **沒有推播通道。** 這支端點回的是查詢當下的快照，狀態變了不會主動
        通知 —— 儀表板要自己輪詢（例如每 10-30 秒），輪詢間隔自行拿捏，
        沒有伺服器端建議值。

        **`geometry` 為 `{}` 的節點畫不出來。** 那不是「這個房間沒有形狀」，
        是還沒有人匯入過幾何（BIM 模型還在排隊解析，或這個節點本來就是
        手動建立）。`meta.nodes_without_geometry` 讓那個數字看得見，否則
        前端只會畫出一張缺了一半房間的圖而不知道為什麼。

        `worst_alarm_severity` 用 `max(severity)`，而那是**字典序**不是嚴重度序
        —— 排序或做顏色漸層請用 `worst_alarm_rank`，不要自己重新排
        `worst_alarm_severity`。

        `occupancy_state` 為 `null` 代表這個節點不是可預約資源 ——
        不是「目前沒有資料」。`device_count`／`devices_offline_count`
        不能直接相減得到在線數，見 `FloorViewNode.device_count` 的說明。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: facilityId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: floor_level
          in: query
          required: false
          schema: { type: integer }
          description: 只回這一層；省略時回全部樓層
      responses:
        '200':
          description: 逐層資料
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/FloorViewNode' }
                  meta:
                    type: object
                    properties:
                      node_count: { type: integer }
                      floors:
                        type: array
                        items: { type: integer }
                      nodes_without_geometry: { type: integer }
                      geometry_comes_from: { type: string }
                      alarm_severity_order:
                        type: array
                        items: { type: string }

  /spatial-nodes/{floorNodeId}/floor-plan-markers:
    get:
      tags: [Spatial & BIM]
      operationId: listFloorPlanMarkers
      summary: 樓層平面圖上的設備標點清單
      description: |
        需要該場域的 `spatial_node:read`。`floorNodeId` 必須是一列
        `node_type_code = 'FLOOR'` 的 `spatial_nodes`，不是任意節點——不然
        回 422。

        **平面圖影像本身不在這裡。** 樓層本身就是一個 `spatial_nodes` 列，
        影像走既有的 `GET /attachments?entity_type=SPATIAL_NODE&entity_id={floorNodeId}`
        （`purpose=FLOOR_PLAN_IMAGE`，取 `created_at` 最新一筆），這支端點
        只回「圖上哪個比例位置對到哪個設備」。

        `x_ratio`／`y_ratio` 是相對於那張平面圖影像的比例（0.0000–1.0000），
        不是真實世界座標——這不是疊在 BIM 幾何上校準，純粹是「貼圖 + 標點」。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: floorNodeId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/FloorPlanMarker' }
        '404': { description: 找不到這個空間節點 }
        '422': { description: floorNodeId 不是 FLOOR 節點 }
    post:
      tags: [Spatial & BIM]
      operationId: createFloorPlanMarker
      summary: 在樓層平面圖上新增一個設備標點
      description: |
        需要該場域的 `spatial_node:write`。`entity_type` 指向既有的資產／
        裝置／空間節點其中一種（`entity_id` 必須真的存在，否則 422）——
        這張表刻意沒有外鍵，因為指向的表依 `entity_type` 而不同。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: floorNodeId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FloorPlanMarkerCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FloorPlanMarker' }
        '404': { description: 找不到這個空間節點 }
        '422': { $ref: '#/components/responses/ValidationError' }

  /floor-plan-markers/{id}:
    delete:
      tags: [Spatial & BIM]
      operationId: deleteFloorPlanMarker
      summary: 移除一個設備標點
      description: 需要該場域的 `spatial_node:write`。只移除標點，不影響底下的資產／裝置。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 已刪除
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted: { type: string, format: uuid }
        '404': { description: 找不到這個標點 }

  /bim-models/{bimModelId}:
    get:
      tags: [Spatial & BIM]
      operationId: getBimModel
      summary: 模型詳情與解析報告
      description: |
        需要該場域的 `bim_model:read`。

        **`unresolved_elements` 是空的有兩種意思**，而 `meta.status_explanation`
        讓呼叫端分得出來：`PARSED` 之後的空陣列代表「全部都對應好了」，
        `UPLOADED` 的空陣列代表「還在排隊等解析」。

        解析是**非同步**的：獨立的 `bim-worker` 服務每 30 秒輪詢一次
        `status = 'UPLOADED'` 的模型，沒有推播通道 —— 呼叫端要輪詢這支
        端點直到 `status` 變成 `PARSED` 或 `PARSE_FAILED`。`UPLOADED` 期間
        `element_count` 與 `parse_report` 會是 0 與 `{}` —— 那不是
        「模型是空的」，是還沒輪到它。這支端點與
        `GET /bim-models/{id}/unresolved-elements` 共用同一份說明字串，
        兩者對同一個狀態的解釋不會不一樣。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: bimModelId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 模型詳情
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/BimModelDetail' }
                  meta:
                    type: object
                    properties:
                      status_explanation: { type: string }
                      awaiting_parse: { type: boolean }
        '404': { description: 找不到這個 BIM 模型 }
    delete:
      tags: [Spatial & BIM]
      operationId: deleteBimModel
      summary: 刪除模型（連同它匯入的樓層/空間/設備）
      description: |
        需要該場域的 `bim_model:write`。

        軟刪除這個模型匯入的所有樓層／空間／設備節點，再硬刪模型紀錄本身
        （`bim_models` 沒有 `deleted_at`，本來就不走軟刪除慣例）。**不動
        BUILDING 根節點**——同一場域的多個模型會共用同一個根（見
        `bim-worker` 的 `ingest.py`），刪它會波及其他模型或手動建立的空間樹。

        跟 `DELETE /spatial-nodes/{nodeId}` 同一個判斷：這個模型匯入的空間
        底下如果還有未結工單、啟用中的可預約資源、或模型範圍外手動加的子
        節點，回 `409` 並各自報數字，而不是連帶刪掉搞不清楚牽連了什麼。

        `status = PARSING` 時擋下（先等 `bim-worker` 解析完再刪）。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: bimModelId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: 已刪除 }
        '404': { description: 找不到這個 BIM 模型 }
        '409': { description: 正在解析中，或還有未結工單/啟用中的可預約資源/模型範圍外的子節點 }

  /bim-models/{bimModelId}/reset:
    post:
      tags: [Spatial & BIM]
      operationId: resetBimModel
      summary: 清掉上次匯入的資料，重新排入解析佇列
      description: |
        需要該場域的 `bim_model:write`。

        軟刪除這個模型上一輪匯入的樓層／空間／設備（判斷與擋修同
        `DELETE /bim-models/{bimModelId}`），並把 `status` 改回
        `UPLOADED`——`bim-worker` 每 30 秒輪詢一次 `status='UPLOADED'` 的
        模型，之後會自動重新解析**同一個已經上傳好的檔案**
        （`storage_key` 不變，物件還在儲存體裡，不必重新上傳）。

        用在「解析器邏輯修好了，想重新跑一次而不必重新上傳檔案」的情境。
        `ingest.py` 只做 INSERT、不是 upsert——不先清掉舊資料就直接改回
        `UPLOADED`，下一輪解析會插出重複的節點。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: bimModelId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '202':
          description: 已清空並重新排入解析佇列
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BimModel' }
        '404': { description: 找不到這個 BIM 模型 }
        '409': { description: 正在解析中，或還有未結工單/啟用中的可預約資源/模型範圍外的子節點 }

  /bim-models/{bimModelId}/mappings:
    post:
      tags: [Spatial & BIM]
      operationId: createBimMappings
      summary: 手動對應元件↔節點/設備
      description: |
        需要該場域的 `bim_model:write`。

        這是 `bim_models.mapped_node_count`、`mapped_asset_count`、
        `unresolved_elements` 的**第一個寫入者** —— 在此之前那三個欄位只有讀者。

        三件事在同一個交易裡一起做：

        1. 把 `bim_element_id` 寫到目標的節點或設備上
        2. 從 `unresolved_elements` 移除那個元件
        3. **重算**（不是遞增）兩個計數

        少了第二件，同一個元件會永遠留在待補正清單裡；少了第三件，畫面上顯示的
        「已對應 12 個」是假的。第三件用重算而不是遞增，所以計數與實際對應數
        不可能分歧。

        **目標必須在同一個場域。** 跨場域的對應會讓 floor-view 把別棟樓的設備畫進
        這一層，而那個錯誤在畫面上看起來只是「位置怪怪的」。不符的逐筆回
        `TARGET_NOT_IN_FACILITY`，其餘照樣套用（部分成功）。

        一次最多 500 筆。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: bimModelId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mappings]
              properties:
                mappings:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    type: object
                    required: [bim_element_id, target_type, target_id]
                    properties:
                      bim_element_id: { type: string, maxLength: 120 }
                      target_type: { type: string, enum: [SPATIAL_NODE, ASSET] }
                      target_id: { type: string, format: uuid }
      responses:
        '200':
          description: 逐筆結果
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        bim_element_id: { type: string }
                        target_type: { type: string }
                        target_id: { type: string, format: uuid }
                        ok: { type: boolean }
                        error: { type: string }
                        error_code: { type: string, enum: [TARGET_NOT_IN_FACILITY] }
                  meta:
                    type: object
                    properties:
                      requested: { type: integer }
                      applied: { type: integer }
                      rejected: { type: integer }
                      mapped_node_count: { type: integer }
                      mapped_asset_count: { type: integer }
                      unresolved_count: { type: integer }
                      counts_recomputed_from_rows: { type: string }
        '404': { description: 找不到這個 BIM 模型 }
        '422': { $ref: '#/components/responses/ValidationError' }

  /facilities/{facilityId}/bim-models:
    parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/FacilityIdPath'
    get:
      tags: [Spatial]
      operationId: listBimModels
      summary: 列出 BIM 模型與解析狀態
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/BimModel' }
    post:
      tags: [Spatial]
      operationId: registerBimModel
      summary: 註冊已上傳的 BIM 模型
      description: |
        檔案先以 `POST /uploads/presign` 取得預簽網址直傳儲存體，
        再以本端點註冊。

        ## 解析是非同步的 —— 用輪詢追蹤進度

        本端點只負責登記，回 `202` 代表「已收下、排入解析」，**不代表解析
        已完成**。實際解析由獨立的 `bim-worker` 服務處理：每 30 秒輪詢一次
        `status = 'UPLOADED'` 的模型，用 IfcOpenShell 拆出樓層／空間／設備，
        依序把 `status` 改成 `PARSING` → `PARSED`（或失敗時 `PARSE_FAILED`，
        原因見 `parse_report`）。

        **沒有推播通道** —— 呼叫端要輪詢 `GET /bim-models/{id}` 直到
        `status` 變成 `PARSED` 或 `PARSE_FAILED`。`UPLOADED`／`PARSING`
        期間：
        * `element_count`／`mapped_node_count`／`mapped_asset_count` 都是 0
        * `unresolved_elements` 是空陣列 —— 這不代表「全部都對應好了」

        回應的 `meta.parsing` 會直說目前是哪一種狀態，避免空陣列被誤讀。

        目前只有 `source_format: IFC` 有對應的解析器。其他格式在這一步
        就會被拒絕（`422`）——過去是接受註冊、排入 `bim-worker`，等它下一輪
        輪詢（最多 30 秒）才發現不支援並標成 `PARSE_FAILED`；現在不必等
        那一輪非同步往返，註冊當下就能知道選錯格式。
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BimModelCreate' }
      responses:
        '202':
          description: 已登記，排入解析（非同步 —— 輪詢 GET /bim-models/{id} 追蹤進度）
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BimModel' }

  /bim-models/{bimModelId}/unresolved-elements:
    get:
      tags: [Spatial]
      operationId: listUnresolvedBimElements
      summary: 列出無法自動對應的 BIM 元件
      description: |
        用於「B1 有 2 台未識別設備」這類缺口的人工補正介面。

        `unresolved_elements` 由 `bim-worker` 解析時填寫（見
        `registerBimModel` 的非同步說明）。模型還在排隊或解析中時
        （`status` 為 `UPLOADED`／`PARSING`）這裡會回空陣列 ——
        回應的 `meta.parsing` 會說出「這個模型還沒解析完」，而不是讓
        空陣列被讀成「全部都對應好了」。

        這兩件事必須分得開：**「沒有未解析元件」與「還沒解析」是完全不同的
        狀態**，而它們的空陣列長得一模一樣。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: bimModelId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/UnresolvedBimElement' }

  # ---------------------------------------------------------------------------
  # Calendar federation（ADR-14）
  # ---------------------------------------------------------------------------
  /facilities/{facilityId}/calendar-integrations:
    parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/FacilityIdPath'
    get:
      tags: [Calendar]
      operationId: listCalendarIntegrations
      summary: 列出這個場域的日曆整合與同步狀態
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CalendarIntegration' }
    post:
      tags: [Calendar]
      operationId: registerCalendarIntegration
      summary: 註冊 Microsoft 365／Google Workspace 日曆整合
      description: |
        需要 `calendar_integration:write`。

        ## Microsoft 365：app-only 認證，不是每租戶各存一份密鑰

        我們註冊**一個**多租戶 Azure AD 應用，客戶的 M365 系統管理員在
        Microsoft 自己的頁面完成 admin consent（本端點的回應會附一個
        `admin_consent_url`）。**這裡沒有接那個流程的回呼**——admin consent
        完成後客戶會拿到自己的 Azure AD 租戶 id（`ms_tenant_id`），目前是由
        導入時的技術支援手動填進 `ms_tenant_id` 欄位；留空時整合會停在
        `PENDING_CONSENT`，填了才會變成 `ACTIVE`。

        Google Workspace 還沒有實作（見 `unresolved-resources`／
        `resource-mappings` 的說明），註冊會成功但同步不會真的發生。
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CalendarIntegrationCreate' }
      responses:
        '201':
          description: 已建立
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CalendarIntegration' }
        '409':
          description: 這個租戶／場域範圍已經有一個相同 provider 的整合
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /calendar-integrations/{integrationId}/unresolved-resources:
    get:
      tags: [Calendar]
      operationId: listUnresolvedCalendarResources
      summary: 列出外部日曆上還沒對應到任何空間節點的房間／資源
      description: |
        需要該整合所屬場域的 `calendar_integration:read`。

        **這份清單是即時算出來的，不是儲存的狀態**——呼叫外部平台的
        `list_resources`，排掉已經有生效中對應（`calendar_resource_mappings`
        的 `ACTIVE` 列）的資源，剩下的就是清單。這比先猜測寫一列再讓人改
        更貼近「不猜測建立」的原則：Phase 1 沒有做名稱自動比對（房間名稱
        不像 BIM 設備的 manufacturer/model 有明確的比對鍵），因此每一個
        對應都要透過 `resource-mappings` 手動建立。

        整合尚未 `ACTIVE`（例如還在 `PENDING_CONSENT`）時回空陣列，
        `meta.reason` 說明原因。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: integrationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        external_id: { type: string, example: room-a@contoso.com }
                        display_name: { type: string }
        '404': { description: 找不到這個日曆整合 }

  /calendar-integrations/{integrationId}/resource-mappings:
    post:
      tags: [Calendar]
      operationId: createCalendarResourceMappings
      summary: 手動對應外部房間資源 ↔ 內部空間節點
      description: |
        需要該整合所屬場域的 `calendar_integration:write`。

        每一筆建立一列 `ACTIVE` 的 `calendar_resource_mappings`。
        `sync_direction` 預設 `BIDIRECTIONAL`（FMS 推出＋拉入外部原生事件
        雙向都做），目前沒有在這支端點提供覆寫；需要單向的資源請直接
        以資料庫操作調整，之後會補上覆寫參數。

        同一個整合裡，一個外部資源或一個空間節點只能有一個生效中的對應——
        重複會回 409。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: integrationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mappings]
              properties:
                mappings:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [external_resource_id, spatial_node_id]
                    properties:
                      external_resource_id: { type: string, example: room-a@contoso.com }
                      external_resource_name: { type: string }
                      spatial_node_id: { type: string, format: uuid }
      responses:
        '200':
          description: 已建立
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      created:
                        type: array
                        items: { type: string, format: uuid }
        '404': { description: 找不到這個日曆整合，或某個 spatial_node_id 不存在 }
        '409':
          description: 這個外部資源或空間節點在這個整合裡已經有對應
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  # ---------------------------------------------------------------------------
  # Assets
  # ---------------------------------------------------------------------------
  /assets:
    get:
      tags: [Assets]
      operationId: listAssets
      summary: 查詢設備資產
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/FacilityIdHeader'
        - name: facility_id
          in: query
          schema: { type: string, format: uuid }
        - name: spatial_node_id
          in: query
          schema: { type: string, format: uuid }
        - name: subtree_of_node
          in: query
          description: 該空間節點及其所有子節點下的設備
          schema: { type: string, format: uuid }
        - name: category_code
          in: query
          schema: { type: string, example: AHU }
        - name: status
          in: query
          schema: { type: string }
        - name: criticality
          in: query
          schema: { type: string, enum: [LOW, MEDIUM, HIGH, CRITICAL] }
        - name: has_open_work_order
          in: query
          schema: { type: boolean }
        - name: q
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Asset' }
    post:
      tags: [Assets]
      operationId: createAsset
      summary: 建立設備資產
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /assets/{assetId}:
    parameters:
      - $ref: '#/components/parameters/TenantId'
      - name: assetId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Assets]
      operationId: getAsset
      summary: 取得設備詳情
      parameters:
        - name: include
          in: query
          description: 逗號分隔的關聯展開；可用 children,relations,meters,open_work_orders,maintenance_plans
          schema: { type: string, example: children,relations,meters }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetDetail' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Assets]
      operationId: updateAsset
      summary: 更新設備
      parameters:
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetCreate' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '412': { $ref: '#/components/responses/PreconditionFailed' }
    delete:
      tags: [Assets]
      operationId: deleteAsset
      summary: 報廢／刪除設備（軟刪除）
      responses:
        '204': { description: No Content }
        '409':
          $ref: '#/components/responses/Conflict'

  /assets/{assetId}/dependency-graph:
    get:
      tags: [Assets]
      operationId: getAssetDependencyGraph
      summary: 取得跨系統依賴圖
      description: 回傳指定深度內的上下游依賴，供影響分析（例如 UPS 停機會影響哪些設備）。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: assetId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: depth
          in: query
          schema: { type: integer, minimum: 1, maximum: 5, default: 2 }
        - name: direction
          in: query
          schema: { type: string, enum: [upstream, downstream, both], default: both }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DependencyGraph' }

  /assets/{assetId}/meters/{meterCode}/readings:
    post:
      tags: [Assets]
      operationId: recordMeterReading
      summary: 登錄計量讀數（人工或匯入）
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: assetId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: meterCode
          in: path
          required: true
          schema: { type: string, example: LAMP_HOURS }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value, reading_at]
              properties:
                value: { type: number }
                reading_at: { type: string, format: date-time }
                source: { type: string, enum: [MANUAL, IMPORT, ESTIMATED], default: MANUAL }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  meter_code: { type: string }
                  last_value: { type: number }
                  triggered_maintenance_plan_ids:
                    type: array
                    items: { type: string, format: uuid }
    get:
      tags: [Assets]
      operationId: listAssetMeterReadings
      summary: 讀數時序
      description: |
        需要 `meter:read`。

        `POST` 那一半早就實作了，而**讀取端沒有** —— 也就是說讀數寫得進去、
        讀不回來。與遙測那次同一個形狀。

        `delta` 是與**時間上**前一筆的差值，用視窗函式在分頁之前算，
        所以頁邊界的那一筆也有值。計量表是累計值（電度、運轉時數），
        而人們要的通常是「這段期間用了多少」。

        `source` 必須看：`ESTIMATED` 的值不該拿去算合約用的用量。

        計量表必須屬於這台設備 —— 只用 `meterCode` 查的話，帶著別台設備的 id
        也會成功，路徑就變成謊言。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: assetId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: meterCode
          in: path
          required: true
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/AssetMeterReading' }
                      meta:
                        type: object
                        properties:
                          meter_code: { type: string }
                          asset_meter_id: { type: string, format: uuid }
        '404': { description: 找不到這台設備的這個計量表 }

  /attribute-definitions:
    get:
      tags: [Assets]
      operationId: listAttributeDefinitions
      summary: 動態欄位定義（前端動態表單用）
      description: |
        需要 `asset:read`。依 `display_order` 排序 —— 那一欄存在就是為了讓管理者
        決定欄位在表單上的順序。

        **驗證發生在 API 層**（`meta.validated_at = "api"`），不是資料庫觸發器。
        `meta.existing_values_revalidated = false` 說出取捨：改了定義之後
        **既有的 `attributes` 不會被回溯拒絕**。

        為什麼不用資料庫約束：schema 可以隨時被管理者改，而 CHECK 只能驗當下
        那一版 —— 一次設定變更會讓歷史資料變成無法儲存的東西（任何 UPDATE
        都會撞上新約束，即使那次更新與 attributes 無關）。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: target_entity
          in: query
          schema:
            type: string
            enum: [FACILITY, SPATIAL_NODE, ASSET, ASSET_MODEL]
        - name: applies_to_type
          in: query
          schema: { type: string }
        - name: is_active
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/AttributeDefinition' }
                  meta:
                    type: object
                    properties:
                      validated_at: { type: string }
                      existing_values_revalidated: { type: boolean }
    post:
      tags: [Assets]
      operationId: createAttributeDefinition
      summary: 新增動態欄位
      description: |
        需要 `tenant:update`。

        **`validation_schema` 在這裡就被編譯一次。** 存進去之後它會用來擋別人的
        請求，而一份壞掉的 schema 會讓完全正確的 `POST /assets` 收到 500 ——
        而能修它的人不在那條路徑上。

        **`default_value` 必須符合自己的 `validation_schema`** —— 不符合就是保證
        會失敗的組合：套用預設值之後立刻驗不過。

        `attribute_key` 只能用英數與底線：它會變成 `attributes` 裡的 JSON key，
        帶點或引號會讓 JSON pointer 形式的錯誤路徑無法解析。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attribute_key, label]
              properties:
                target_entity:
                  type: string
                  enum: [FACILITY, SPATIAL_NODE, ASSET, ASSET_MODEL]
                  default: ASSET
                applies_to_type: { type: string }
                attribute_key:
                  type: string
                  pattern: '^[A-Za-z0-9_]+$'
                  maxLength: 60
                label: { type: string, maxLength: 120 }
                data_type:
                  type: string
                  enum: [STRING, TEXT, NUMBER, INTEGER, BOOLEAN, DATE, ENUM]
                  default: STRING
                is_required: { type: boolean, default: false }
                is_searchable: { type: boolean, default: false }
                default_value: {}
                validation_schema:
                  type: object
                  description: JSON Schema。POST /assets 拿它驗 attributes
                ui_hints: { type: object }
                display_order: { type: integer, default: 100 }
                is_active: { type: boolean, default: true }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
        '409': { description: 這個 target_entity 已經有同名的 attribute_key }
        '422': { $ref: '#/components/responses/ValidationError' }

  /assets/{assetId}/relations:
    post:
      tags: [Assets]
      operationId: createAssetRelation
      summary: 建立依賴關係
      description: |
        需要 `asset:write`。

        **會做循環偵測。** `/assets/{id}/dependency-graph` 已經在讀
        `asset_relations`，而 `ck_asset_relations_distinct` 只擋掉 A → A ——
        擋不掉 A → B → A，而那會讓那支圖無限展開。

        所以寫入前用遞迴 CTE 問：**從新關係的終點出發，走得回起點嗎**。
        走得回去就是循環，回 409 並說出「走幾步回到起點」。

        深度上限 **32**。真實的設施依賴鏈是「市電 → 主配電 → 分配電 → UPS →
        機櫃 → 設備」那種個位數量級，撞到 32 幾乎一定表示資料有問題。
        回應的 `meta.chain_depth` 讓管理者看得出自己離上限多遠。

        遞迴的深度條件不只是限制，也是**停止條件** —— 少了它，資料庫裡
        既有的循環會讓那個查詢自己無限跑。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: assetId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to_asset_id]
              properties:
                to_asset_id: { type: string, format: uuid }
                relation_type:
                  type: string
                  enum: [DEPENDS_ON, FEEDS, BACKUP_OF, CONTROLS, REDUNDANT_WITH]
                  default: DEPENDS_ON
                impact_level:
                  type: string
                  enum: [LOW, MEDIUM, HIGH, CRITICAL]
                  default: MEDIUM
                notes: { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  from_asset_id: { type: string, format: uuid }
                  to_asset_id: { type: string, format: uuid }
                  relation_type: { type: string }
                  meta:
                    type: object
                    properties:
                      chain_depth: { type: integer }
                      max_depth: { type: integer }
        '404': { description: 兩端的設備都必須存在且在你的範圍內 }
        '409': { description: 會形成循環，或鏈深超過上限，或關係已存在 }
        '422': { $ref: '#/components/responses/ValidationError' }

  /asset-relations/{relationId}:
    delete:
      tags: [Assets]
      operationId: deleteAssetRelation
      summary: 移除依賴關係
      description: |
        需要 `asset:write`。**硬刪除** —— 依賴關係是當前的拓樸描述，不是歷史
        事件。軟刪除會讓 `dependency-graph` 每次都要過濾 `deleted_at`，
        而漏一次就會顯示已經拆掉的依賴。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: relationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: 已移除 }
        '404': { description: 找不到這條關係（或它不在你的範圍內） }

  /assets:bulk-import:
    post:
      tags: [Assets]
      operationId: bulkImportAssets
      summary: 批次匯入設備（含試跑模式）
      description: |
        需要 `asset:write`。單次上限 **500** 列。

        **`dry_run` 預設 `true`。** 匯入是不可逆的批次寫入，所以預設值站在安全
        那一邊 —— 要真的寫入必須明說 `dry_run: false`。

        **試跑走完全相同的路徑，只是最後回捲整個交易。** 預覽與真跑各寫一份
        驗證的話，「預覽通過而真跑失敗」正是它要防的事。走同一條路讓預覽也抓得到
        **批次內部的重複**（同一批裡兩列用同樣的 `asset_code`）—— 那種衝突是
        逐列驗證抓不到的，它只在第二列真的寫進去時才出現。

        試跑的 `outcome` 是 `WOULD_CREATE` 而不是 `CREATED`：呼叫端把回應存下來
        當紀錄時，那兩個字的差別就是「這件事發生了」與「這件事會發生」。
        而 `meta.ids_are_provisional` 說明那些 `asset_id` 是回捲掉的、不能拿去用。

        **逐列 savepoint。** 一個交易裡某一筆 SQL 失敗會讓整個交易進入 aborted
        狀態，後面每一筆都會拿到 `current transaction is aborted` ——
        少了它，「500 列裡有 3 列分類代碼打錯」會變成 497 列好資料一起被丟掉。

        `error_code` 讓呼叫端能自動分類：`CATEGORY_NOT_FOUND` 要修檔案，
        `DUPLICATE_ASSET_CODE` 可能可以忽略。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rows]
              properties:
                dry_run:
                  type: boolean
                  default: true
                  description: 預設 true —— 要真的寫入必須明說 false
                rows:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    type: object
                    required: [asset_code, name, facility_id, category_code]
                    properties:
                      asset_code: { type: string }
                      name: { type: string }
                      facility_id: { type: string, format: uuid }
                      category_code: { type: string }
                      spatial_node_code: { type: string }
                      model_id: { type: string, format: uuid }
                      status: { type: string }
                      criticality: { type: string }
                      attributes: { type: object }
      responses:
        '200':
[...]
